#root{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqew9wFR0tEDYpWJ8IK_PiHsZYCtjxSC624IpTpuhtMw&s");
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
html{
  scroll-behavior: smooth;
}
.App {
  text-align: center;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.skill{
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

ul{
  text-align: left;
}

.allprojects{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 2fr));
  grid-auto-rows: 2fr;
  /* grid-template-columns: auto auto auto; */
}

.project{
  border: 10px darkgray solid;
  border-radius: 5%;
}
.project:hover{
  transform: scale(1.1);
  transition: all .4s ease;
  border: none;
}
/* Myimg styleing */

.myimage{
  height: 200px;
  float: left;
  border-radius: 50%;
  shape-outside: circle(50%);
}

.cvbutton:hover{
  background-color: beige;
  color: black;
}

.cvbutton{
  background-color: grey;
}


#navlink{
  color: white;
}

.techs{
  padding: 9rem;
  border-radius: 10%;
  background-image: url("./images/background.png");
}

.techs:hover{
  background-image: none;
  transform: scale(1.4);
  transition: all .4s ease;
}

footer{
  background-image: url("./images/background.png");
  background-size: cover;
  padding: 2rem;
}


